.page-wrapper {
  width: 100%;

  .content-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;

    // Need to move it to component
    .link {
      color: unset;
      text-decoration: none;

      .album-card {
        width: 15.6rem;
        height: 21rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin: 1rem 2rem;
        border-radius: 1rem;

        img {
          border-radius: 1rem;
        }

        .album-details {
          padding: 0rem 0.5rem;

          h3 {
            font-size: 1rem;
            font-weight: 100;
            margin: 0;

            &.album-name {
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 4rem);

    img {
      width: 10rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .page-wrapper {

    .content-container {
      flex-direction: column;
      padding: 1rem;
    }
  }
}